*** sometimes it shows data not defined. just go back up and start running one by one 

1  pandas

2  seaborn

3  matplotlib.pyplot

4  numpy

5  csv

6  matplotlib.dates

7  datetime

8-- Should install updated seaborn  by pip install seaborn --upgrade

Import pywedge as pw

Import these


import pandas as pd
import seaborn as sns
sns.set(color_codes=True)
import matplotlib.pyplot as plt
import numpy as np
import matplotlib
import csv
import datetime as dt
import matplotlib.dates as dates
import pandasql as ps
from pandasql import sqldf
import sqlite3
from copy import deepcopy
from pandas import Series, DataFrame